<div class="clearfix">
    <div class="large-6 small-12 medium-12 fl image-holder image-holder--wrapper editable-bg-image koolkip" {{ image.size(width,height).background() | raw }}>
        {% if image.value.caption != '' %}
            <div class="image-holder--caption">{{ image.value.caption }}</div>
        {% endif %}
    </div>
    <div class="large-6 fl small-12 medium-12 vc image-holder" style="background-color: {{ background }}">
        {{ content.el('div').html() | raw }}
    </div>
</div>
