<div class="flicker" data-auto-flick-delay="6" data-dot-alignment="left" data-theme="light">
    <ul>
        {% for item in items %}
            <li data-background="{{ item.image }}" class="item {% if loop.first %} active {% endif %}">
                <div class="flick-sub-text">
                    {{ item.content.inlineEdit(true).el('div').addClass('carousel-caption').html() | raw }}
                </div>
            </li>

        {% endfor %}

    </ul>
</div>