<div class="module-outer clearfix" style="background-color: {{ background }}">
    <div class="row">
        <div class="large-12 columns">
            <div class="featurette--wrapper">
                <div class="row">
                    {% for item in items %}
                        <div class="small-4 large-4 columns featurette featurette__center">
                            <img class="circle" src="{{ item.circle }}">
                            {{ item.content.el('div').addClass('blur').html() | raw }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #{{ module.instance_id }}{
        color: {{ color }}
    }
</style>