/* line 2, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_helper.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 6, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_helper.scss */
.clearfix:after {
  clear: both;
}

/* line 9, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_helper.scss */
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 14, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_helper.scss */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

/* line 24, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_helper.scss */
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 30, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_helper.scss */
.article .embed-container iframe, .article
.embed-container object, .article
.embed-container embed {
  height: 100%;
}

/*
* Main Styles 
* -----------------
*/
/**
 * SASS File: 		flickerplate.scss
 * Author:        	Chris Humboldt
 * Link:			http://getwebplate.com/plugins/flickerplate
 * Last Edited:   	26 January 2014
 * Edited By:		Chris Humboldt
 */
/* line 299, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: #e6e6e6;
  overflow: hidden;
}
/* line 303, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate ul.flicks {
  width: 10000%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
/* line 306, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate ul.flicks li {
  float: left;
  width: 1%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: table;
}
/* line 77, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate ul.flicks li .flick-inner {
  height: 100%;
  padding: 10px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}
/* line 84, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate ul.flicks li .flick-inner .flick-content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
/* line 92, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate ul.flicks li .flick-title {
  padding: 0px 0px;
  font-size: 2.778em;
  line-height: 1.995em;
  text-align: center;
}
/* line 98, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate ul.flicks li .flick-sub-text {
  padding: 5px;
  font-weight: 300;
  line-height: 2.5em;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
/* line 105, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate ul.flicks li .flick-title span.flick-block-text, .flickerplate ul.flicks li .flick-sub-text span.flick-block-text {
  padding: 12px 18px;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 113, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .arrow-navigation {
  position: absolute;
  height: 80%;
  width: 10%;
  top: 10%;
  z-index: 100;
  overflow: hidden;
}
/* line 121, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .arrow-navigation .arrow {
  display: block;
  height: 100%;
  width: 90%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 128, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .arrow-navigation:hover, .flickerplate .arrow-navigation .arrow:hover {
  cursor: pointer;
}
/* line 131, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .arrow-navigation.left {
  left: 0%;
}
/* line 134, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .arrow-navigation.left .arrow {
  opacity: 0;
  margin: 0px 0px 0px 50%;
  background-image: url("../images/arrow-left-light.png");
  background-repeat: no-repeat;
  background-position: left;
}
/* line 140, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .arrow-navigation.right {
  right: 0%;
}
/* line 143, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .arrow-navigation.right .arrow {
  opacity: 0;
  margin: 0px 0px 0px -50%;
  background-image: url("../images/arrow-right-light.png");
  background-repeat: no-repeat;
  background-position: right;
}
/* line 149, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .arrow-navigation.left.hover .arrow {
  opacity: 1;
  margin: 0px 0px 0px 20%;
}
/* line 153, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .arrow-navigation.right.hover .arrow {
  opacity: 1;
  margin: 0px 0px 0px -20%;
}
/* line 161, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .dot-navigation {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 100;
}
/* line 168, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .dot-navigation ul {
  text-align: center;
  list-style: none;
  padding: 0px 15px;
}
/* line 173, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .dot-navigation ul li {
  display: inline-block;
  float: none;
}
/* line 177, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .dot-navigation .dot {
  width: 14px;
  height: 14px;
  margin: 0px 6px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
/* line 185, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .dot-navigation .dot:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}
/* line 189, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .dot-navigation .dot.active {
  background-color: #fff;
}
/* line 193, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .dot-navigation.left, .flickerplate .dot-navigation.left ul {
  text-align: left;
}
/* line 196, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate .dot-navigation.right, .flickerplate .dot-navigation.right ul {
  text-align: right;
}

/* line 207, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.flicker-theme-dark .arrow-navigation.left .arrow {
  background-image: url("../images/arrow-left-dark.png");
}
/* line 210, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.flicker-theme-dark .arrow-navigation.right .arrow {
  background-image: url("../images/arrow-right-dark.png");
}
/* line 216, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.flicker-theme-dark .dot-navigation .dot {
  background-color: rgba(0, 0, 0, 0.12);
}
/* line 219, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.flicker-theme-dark .dot-navigation .dot:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 222, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.flicker-theme-dark .dot-navigation .dot.active {
  background-color: #000;
}
/* line 227, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.flicker-theme-dark ul.flicks li .flick-inner {
  color: rgba(0, 0, 0, 0.9);
}
/* line 231, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-sub-text {
  color: rgba(0, 0, 0, 0.9);
}
/* line 234, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-title span.flick-block-text, .flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-sub-text span.flick-block-text {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 240, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate ul.flicks li.flick-theme-dark .flick-inner {
  color: rgba(0, 0, 0, 0.9);
}
/* line 244, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-sub-text {
  color: rgba(0, 0, 0, 0.9);
}
/* line 247, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-title span.flick-block-text, .flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-sub-text span.flick-block-text {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 259, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.animate-transform-slide ul.flicks {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0%, 0px, 0px);
  -webkit-transform: translate3d(0%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
}

/* line 272, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.animate-transition-slide ul.flicks {
  position: relative;
  left: 0%;
  -webkit-transition: left 0.4s ease-out;
  -moz-transition: left 0.4s ease-out;
  -o-transition: left 0.4s ease-out;
  -ms-transition: left 0.4s ease-out;
  transition: left 0.4s ease-out;
}

/* line 280, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.animate-jquery-slide ul.flicks {
  position: relative;
  left: 0%;
}

/* line 285, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.animate-scroller-slide {
  padding-bottom: 0px;
  overflow: auto;
}
/* line 289, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
.flickerplate.animate-scroller-slide ul.flicks {
  position: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 3) and (max-width: 1080px), screen and (max-width: 700px) {
  /* line 342, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_flickerplate.scss */
  .flickerplate ul.flicks li .flick-inner .flick-content .flick-title {
    font-size: 1.667em;
  }
}
/* line 3, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
html, body {
  height: 100%;
}

/* line 9, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
body {
  font-size: 16px;
  color: #313131;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  word-wrap: break-word;
}

/* line 21, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.main-nav-container {
  margin-bottom: 40px;
}

/* line 25, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
img {
  max-width: 100%;
}

/* line 29, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.alignleft {
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
}

/* line 35, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.alignright {
  float: right;
  margin-left: 12px;
  margin-bottom: 12px;
}

/* line 41, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.orbit-container {
  height: 330px;
}

/* line 45, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.orbit-container .orbit-slides-container > * .orbit-caption {
  text-align: left;
  padding: 20px;
  left: 60%;
  bottom: 15%;
  background-color: transparent;
  width: 30%;
}
/* line 53, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.orbit-container .orbit-slides-container > * .orbit-caption p {
  color: #fff;
  text-shadow: 1px 1px 1px black, 2px 2px 3px #333333, -2px 2px 10px white;
  font-size: 35px;
  line-height: 35px !important;
  margin-bottom: 0 !important;
  text-transform: uppercase;
  text-spacing: 1px;
}

/* line 64, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.featurette__center {
  text-align: center;
}
/* line 67, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.featurette__center h1 {
  font-weight: 800;
  text-transform: uppercase;
  line-height: 80%;
  margin-top: 20px;
}
/* line 74, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.featurette__center .circle {
  border-radius: 800px;
  width: 200px;
  -webkit-box-shadow: 2px 2px 28px -4px #333333;
  -moz-box-shadow: 2px 2px 28px -4px #333333;
  box-shadow: 2px 2px 28px -4px #333333;
  position: relative;
  z-index: 99;
  border: 1px solid #fff;
  margin-bottom: 20px;
}
/* line 85, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.featurette__center .editable, .featurette__center .blur {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 88, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.featurette__center .editable p, .featurette__center .blur p {
  font-size: 18px;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
  line-height: 20px;
}

/* line 104, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.grunge {
  margin-top: -55px;
  border-top: 1px solid #333;
}

/* line 110, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.content-wrapper {
  padding: 0;
  padding-bottom: 120px;
}

/* line 115, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 100%;
}

/* line 121, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.side {
  border-left: 1px dashed #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding-left: 20px;
}
/* line 123, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.side p, .side a {
  font-size: 15px;
}

/* line 133, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.prototype--image-container {
  margin-bottom: 15px;
}

/* line 139, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.example-orbit li {
  height: 330px;
}

/* line 145, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.module-outer {
  padding: 30px 0;
}

/* line 151, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.layout-mixed-columns .wrapper, .layout-2-columns .wrapper {
  padding: 30px 40px 50px 40px !important;
  vertical-align: middle;
  max-height: 150px;
  height: 150px;
  overflow: hidden;
}

/* line 159, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.fl {
  float: left;
}

/* line 163, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.vc {
  display: table-cell;
  vertical-align: middle;
  padding: 100px;
  text-align: center;
}

/* line 170, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.image-holder {
  height: 380px;
  background-size: cover;
  background-position: center;
}

/* line 179, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.page-template-page-alt-php .flicker {
  height: 600px;
  margin-top: -40px;
}
/* line 182, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.page-template-page-alt-php .flicker p {
  font-size: 2.6em;
  font-weight: 100;
}
/* line 187, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.page-template-page-alt-php .flicker h1, .page-template-page-alt-php .flicker h2, .page-template-page-alt-php .flicker h3, .page-template-page-alt-php .flicker h4, .page-template-page-alt-php .flicker h5, .page-template-page-alt-php .flicker h6 {
  color: #fff;
}

/* line 195, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.page-template-page-alt-php .content-wrapper {
  padding-top: 50px;
}
/* line 199, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.page-template-page-alt-php .content-wrapper .module {
  padding: 0px 0 30px 0;
}
/* line 203, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.page-template-page-alt-php .content-wrapper .layout-2-columns .imagetext img {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
  margin-bottom: 10px;
}

/* line 213, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.image-holder--wrapper {
  position: relative;
}
/* line 217, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.image-holder--wrapper .image-holder--caption {
  padding: 10px;
  background-color: #333;
  color: #fff;
  opacity: .9;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

/* line 232, /var/www/Restrap/wp-content/themes/wharft/assets/sass/partials/_main-styles.scss */
.current-menu-item {
  background-color: #FA5914 !important;
}
