<div class="clearfix large-12 columns">
    <div class="">
        {{ image.size(width,height).html() | raw }}
    </div>
    <div class="" style="background-color: {{ background }}">
        {{ content.el('div').html() | raw }}
    </div>
</div>
