<div class="prototype-wrapper section" style="background-color: {{ bgcolor }}">
    <div class="container inner">
        <div class="prototype--image-container">
            {{ headline.el('h1').html() | raw }}
            {{ sometext.el('div').html() | raw }}
        </div>

        <div class="prototype--text-container">
            {{ testimage.size(550,380).html() | raw }}
        </div>
    </div>
</div>