<div class="prototype-wrapper section" style="background-color: {{ bgcolor }};">
    <div class="container inner">
        <div class="prototype--text-container">
            {{ headline.el('h2').html() | raw }}
        </div>
        <div class="prototype--image-container">
            {{ testimage.size(width,height).html() | raw }}
        </div>
        <div class="prototype--text-container">
            {{ sometext.el('div').html() | raw }}
        </div>
    </div>
</div>