<div class="prototype-wrapper section" style="background-color: {{ bgcolor }}">
    <div class="container inner">
        {{ headline.el('h1').html() | raw }}
        {{ sometext.el('div').html() | raw }}
    </div>
</div>