label{
    display: inline-block;
    width: 250px;
}

input[type=text], textarea, input[type=password]{
    border: 1px solid #ccc;
    width: 320px;
    margin-bottom:10px;
    
    &:focus{
        border: 1px solid $blue;
    }
}

textarea{
    padding: 0;
}