.container{
  width: 1140px;
  position: relative;
  padding-bottom: 120px;
}

.inner{
  margin: 0 auto;
}

.one-third{
  width: 370px;
  float: left;
}

.two-thirds{
  float: left;
  width: 755px;
}

.ml{
  margin-left: 15px;
}

.mr{
  margin-right: 15px;
}

.post-content .left-column{
  width: 780px;
  float: left;
}

.post-content .right-column{
  width:320px;
  float: right;
}