@import "flickerplate";

html, body {
  height: 100%;
}



body {
  font-size: $base-font-size;
  color: $dark-grey;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background: $soft-white;
  word-wrap: break-word;

}

//layout impact
.main-nav-container {
  margin-bottom: 40px;
}

img{
  max-width: 100%;
}

.alignleft{
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
}

.alignright{
  float: right;
  margin-left: 12px;
  margin-bottom: 12px;
}

.orbit-container{
  height: 330px;
}

.orbit-container .orbit-slides-container > * .orbit-caption  {
  text-align: left;
  padding: 20px;
  left: 60%;
  bottom: 15%;
  background-color: transparent;
  width: 30%;

  p{
    color: #fff;
    @include text-shadow(1px 1px 1px #000, 2px 2px 3px #333,-2px 2px 10px #fff);
    font-size: 35px;
    line-height: 35px !important;
    margin-bottom: 0 !important;
    text-transform: uppercase;
    text-spacing: 1px;
  }
}

.featurette__center{
  text-align: center;

  h1{
    font-weight: 800;
    text-transform: uppercase;
    line-height: 80%;
    margin-top: 20px;
  }

  .circle{
    border-radius: 800px;
    width: 200px;
    @include box-shadow( 2px 2px 28px -4px #333);
    position: relative;
    z-index: 99;
    border: 1px solid #fff;
    margin-bottom: 20px;

  }

  .editable, .blur {
    @include transition(all .3s linear);

    p{
      font-size: 18px;
      text-shadow: 1px 1px 1px #000;
      text-transform: uppercase;
      line-height: 20px;
    }

  }


  &:hover .editable, &:hover .blur {

  }

}

.grunge{
  margin-top: -55px;
  border-top: 1px solid #333;

}

.content-wrapper{
  padding: 0;
  padding-bottom: 120px;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 100%;
}

.side{

  p,a {
    font-size: 15px;
  }

  border-left: 1px dashed #ccc;
  @include border-radius(15px);
  padding-left: 20px;

}

.prototype--image-container{
  margin-bottom: 15px;
}

.example-orbit{

  li{
    height: 330px;

  }
}

.module-outer{
  padding: 30px 0;
}



.layout-mixed-columns .wrapper, .layout-2-columns .wrapper{
  padding: 30px 40px 50px 40px !important;
  vertical-align: middle;
  max-height: 150px;
  height: 150px;
  overflow: hidden;
}

.fl {
  float: left;
}

.vc {
  display: table-cell;
  vertical-align: middle;
  padding: 100px;
  text-align: center;
}

.image-holder{
  height: 380px;
  background-size:cover;
  background-position: center;
}

.page-template-page-alt-php{


  .flicker{
    height: 600px;
    margin-top: -40px;
    p{
      font-size: 2.6em;
      font-weight: 100;
    }

    h1,h2,h3,h4,h5,h6{
      color: #fff;
    }

  }

}

.page-template-page-alt-php .content-wrapper{

  padding-top: 50px;

  .module{
    padding: 0px 0 30px 0;
  }

  .layout-2-columns .imagetext img{
    @include border-radius(500px);
    margin-bottom: 10px;
  }

  .imagetext{

  }
}

.image-holder--wrapper{

  position: relative;

  .image-holder--caption{
    padding: 10px;
    background-color: #333;
    color: #fff;
    opacity: .9;
    width: 100%;
    position:absolute;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    font-style: italic;
  }

}

.current-menu-item{
  background-color: #FA5914 !important;
}