.module.module_wysiwyg > h6 {
  margin-top: 0;
}

a {
  color: $orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: $dark-grey;
  font-weight: bold;
}

h1 {
  padding-bottom: 3px;
  margin-top: 0px;
  font-size: 40px;
  position: relative;
  top: -1px;
  margin-bottom: 8px;
}

h2 {
  margin-top: 8px;;
  margin-bottom: 12px;
  font-size: 18px;

  &:first-child {
    margin-top: 0;
  }
}

h3 {
  font-size: 21px;
  margin-bottom: 10px;
}

h6 {
  font-size: 7px;
  font-weight: 100;
}

p {
  margin-top: 0;
  line-height: 145%;
  margin-bottom: 12px;
}

.content, .side .module_wysiwyg {

  ul {
    list-style: bullet;
    margin-left: 15px;
    padding-left: 0px;

    li {
      padding-left: 0px;
      padding-bottom: 0px;
    }
  }
}

.side {
  h2 {
    color: $blue;
    font-size: 13px;
    margin-top: 0;
  }

  h3 {
    color: #000;
    font-size: 10px;
  }
}

hr {
  background-color: $blue; /* Mozilla 1.4 */
  color: $blue; /* IE 6 */
  border: $blue; /* Opera 7.11 */
  height: 1px; /* in Opera für die Anzeige nötig, in Mozilla für die einheitliche Höhe */
  margin-bottom: 20px;
}

q, blockquote {
  margin: 0;
  font-size: 13px;
  color: $green;
  font-weight: 600;
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 5px;
    background: image-url('bubble-top.png') no-repeat;
  }
  &:after {
    content: '';
    display: block;
    height: 22px;
    background: image-url('bubble-bottom.png') no-repeat;

  }

  p {
    margin-bottom: 0;
    padding: 3px 0;

  }
}

blockquote {
  background: #f9f9f9;
  color: black;
  border-left: 10px solid #ccc;
  margin: 0em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 16px;
  float: left;
  width: 50%;
  margin-left: -120px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}