$font-family: 'Open Sans', sans-serif;
$headline-font-family:  'Open Sans', sans-serif;
$base-font-size: 16px;
$base-line-height: 142%;

$main-gutter: 20px;

$light-grey : #f2f2f2;
$medium-grey: #9b9a99;
$dark-grey: #313131;
$soft-white: #fff;
$orange: #ff7600;
$blue: #ffffff;
$green: #ffffff;